<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
    </head>
    <body>
        <main layout:fragment="content">
            <h1>Admin panel</h1>
            <div class="container mt-4">
                <ul class="nav nav-tabs"
                    id="myTab"
                    role="tablist">
                    <li class="nav-item"
                        role="presentation">
                        <button class="nav-link active"
                                id="user-list-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#user-list"
                                type="button"
                                role="tab">Users list</button>
                    </li>
                    <li class="nav-item"
                        role="presentation">
                        <button class="nav-link"
                                id="profile-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#add-user-form"
                                type="button"
                                role="tab">Add User</button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active"
                         id="user-list"
                         role="tabpanel">
                        <h2>All users</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Firstname</th>
                                    <th scope="col">Lastname</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Roles</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody id="userListTableBody"></tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade"
                         id="add-user-form"
                         role="tabpanel">
                        ЗДЕСЬ БУДЕТ ФОРМА ДОБАВЛЕНИЯ ПОЛЬЗОВАТЕЛЯ
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="editUserForm">
                            <div class="modal-body">
                                <input type="hidden" id="beingChangedUserId" name="id">

                                <div class="mb-3">
                                    <label for="beingChangedUserFirstname" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="beingChangedUserFirstname" name="firstname" required>
                                </div>

                                <div class="mb-3">
                                    <label for="beingChangedUserLastname" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="beingChangedUserLastname" name="lastname" required>
                                </div>

                                <div class="mb-3">
                                    <label for="beingChangedUserAge" class="form-label">Age</label>
                                    <input type="number" class="form-control" id="beingChangedUserAge" name="age" required>
                                </div>

                                <div class="mb-3">
                                    <label for="beingChangedUserUsername" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="beingChangedUserUsername" name="username" required>
                                </div>

                                <div class="mb-3">
                                    <label for="beingChangedUserRoles" class="form-label">Roles</label>
                                    <select class="form-select"
                                            id="beingChangedUserRoles"
                                            name="roles"
                                            multiple
                                            aria-label="Multiple select"
                                            size="3">
                                        <option th:each="role : ${allRoles}"
                                                th:value="${role.id}"
                                                th:text="${role.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                <button type="submit"
                                        class="btn btn-primary"
                                        id="saveButton">
                                    <span id="saveButtonText">Save changes</span>
                                    <span id="saveButtonSpinner"
                                          class="spinner-border spinner-border-sm d-none"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="deleteUserForm">
                            <div class="modal-body">
                                <input type="hidden" id="beingDeletedUserId" name="id">

                                <div class="mb-3">
                                    <label for="beingDeletedUserFirstname" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="beingDeletedUserFirstname" name="firstname" disabled>
                                </div>

                                <div class="mb-3">
                                    <label for="beingDeletedUserLastname" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="beingDeletedUserLastname" name="lastname" disabled>
                                </div>

                                <div class="mb-3">
                                    <label for="beingDeletedUserAge" class="form-label">Age</label>
                                    <input type="number" class="form-control" id="beingDeletedUserAge" name="age" disabled>
                                </div>

                                <div class="mb-3">
                                    <label for="beingDeletedUserUsername" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="beingDeletedUserUsername" name="username" disabled>
                                </div>

                                <div class="mb-3">
                                    <label for="beingDeletedUserRoles" class="form-label">Roles</label>
                                    <select class="form-select"
                                            id="beingDeletedUserRoles"
                                            name="roles"
                                            multiple
                                            aria-label="Multiple select"
                                            size="3"
                                            disabled>
                                        <option th:each="role : ${allRoles}"
                                                th:value="${role.id}"
                                                th:text="${role.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                <button type="submit"
                                        class="btn btn-danger"
                                        id="deleteButton">
                                    <span id="deleteButtonText">Delete User</span>
                                    <span id="deleteButtonSpinner"
                                          class="spinner-border spinner-border-sm d-none"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
        <div layout:fragment="scripts">
            <script th:src="@{/js/admin.js}"></script>
        </div>
    </body>
</html>